<nav class="navbar">
    <div class="logo">Suite Selector</div>
    <ul class="nav-links">
        <div class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="show">Show All</a></li>
        </div>
    </ul>
</nav>
