<nav class="navbar">
    <div class="logo"><a href="/">Suite Selector</a></div>
    <ul class="nav-links">
        <div class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/show">Show All</a></li>
            <li><a href="/show/toilets/backInlet">Back Inlet</a></li>
            <li><a href="/show/toilets/bottomInlet">Bottom Inlet</a></li>
        </div>
    </ul>
</nav>
