<% layout('layouts/boilerplate') %>
<h1>Welcome to the toilet selector</h1>
<div class="form">
    <form action="/" method="POST">
        <div class="select">
            <label for="wasteType">Select your waste type</label>
            <select name="waste" id="wasteType">
                <option value="STrap">S Trap</option>
                <option value="PTrap">P Trap</option>
            </select>
        </div>
        <div class="select">
            <label for="outlet">What is you outlet measurement:</label>
            <input type="number" name="outlet" id="outlet" />
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
