<% layout('layouts/boilerplate') %>
<h1>Welcome to the toilet selector</h1>
<div>
    <form action="">
        <label for="wasteType">Select your waste type</label>
        <label for="outlet">What is you outlet measurement:</label>
        <br />
        <input type="number" name="outlet" id="outlet" />
    </form>
</div>
