<% layout('layouts/boilerplate') %>
<section>
    <h1 class="title">Welcome to the Suite Selector</h1>

    <form action="/" method="POST" class="form">
        <div class="select">
            <label for="wasteType">Select your waste type</label>
            <select name="waste" id="wasteType">
                <option value="STrap">S Trap</option>
                <option value="PTrap">P Trap</option>
            </select>
        </div>
        <div class="select">
            <label for="outlet">What is your outlet measurement (mm):</label>
            <input type="number" name="outlet" id="outlet" required min="0" />
        </div>
        <div class="select">
            <p>What is your water inlet position:</p>
            <div class="select inlet-choice">
                <input
                    type="radio"
                    name="inletType"
                    id="bottomInlet"
                    value="bottomInlet"
                    checked
                />
                <label for="bottomInlet">Bottom Inlet</label>
                <input
                    type="radio"
                    name="inletType"
                    id="backInlet"
                    value="backInlet"
                />
                <label for="backInlet">Back Inlet</label>
            </div>
        </div>
        <div class="select backInlet">
            <label for="inletHeight"
                >What is the height of your water point (mm)</label
            >
            <input
                type="number"
                name="inletHeight"
                id="inletHeight"
                disabled
                min="0"
            />
        </div>
        <div class="select backInlet">
            <label for="inletOffset"
                >What is the offset of your water point (mm)</label
            >
            <input
                type="number"
                name="inletOffset"
                id="inletOffset"
                disabled
                min="0"
            />
        </div>
        <button type="submit">Submit</button>
    </form>
</section>

<script src="javascript/form.js"></script>
