@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}

.backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.main-header {
    background-color: #1f70f2;
    padding: 0.5rem;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    box-sizing: border-box;
    z-index: 3;
    display: --webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.logo {
    display: flex;
    a {
        padding-left: 0.5rem;
        text-decoration: none;
        color: white;
        font: {
            size: 2rem;
        }
        @media (min-width: 40rem) {
            padding-left: 0;
        }
    }
}

.toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;

    @media (min-width: 40rem) {
        display: none;
    }
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.6rem 0;
}

.main-nav {
    display: none;

    @media (min-width: 40rem) {
        display: flex;
    }
}
.main-nav__nav-items {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    list-style: none;
    min-width: 26rem;
    justify-content: flex-end;
    align-items: center;
}

.main-nav__item {
    padding-right: 1rem;
    a {
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
        margin-bottom: 0.2rem;
        padding: 0.4rem;
        &:hover {
            border-bottom: 2px solid white;
        }
    }
}

.mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: #fff;
    width: 80%;
    height: 100vh;
}

.mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-nav__item {
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    a {
        text-decoration: none;
        color: #1f70f2;
        padding-bottom: 0.5rem;
        font-size: 1.5rem;
    }
}

main {
    padding-top: 4rem;
}

.title {
    text-align: center;
    font-size: 1.8rem;
    padding: 1rem 0;
}

.form {
    padding: 1rem;

    button[type='submit'] {
        margin: 0 auto;
        margin-top: 1rem;
        width: 30%;
    }

    @media (min-width: 40rem) {
        margin: auto;
        width: 30rem;
    }
}

.select {
    padding: 0.5rem 0;

    p {
        display: block;
        width: 100%;
        margin-top: 1rem;
        font-weight: bold;
    }
    input {
        display: block;
        width: 100%;
        margin-top: 1rem;
    }

    label {
        display: block;
        width: 100%;
        margin-top: 1rem;
        white-space: nowrap;
        font: {
            weight: bold;
        }
    }

    select {
        display: block;
        width: 100%;
        margin-top: 1rem;
    }
}

.inlet-choice {
    input {
        width: 50%;
        display: inline;
    }

    label {
        width: 50%;
        display: inline;
    }
}

.container {
    display: grid;
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 40vh;
    column-gap: 1rem;
    row-gap: 1rem;
    justify-items: center;

    @media (min-width: 40rem) {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

.card {
    max-width: 92vw;
    padding: 0.5rem;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 8px;
    position: relative;
    background-color: white;
    transition: all 200ms ease-out 200ms;

    &:hover {
        transform: scale(1.05);
    }
}

.card-title {
    text-align: center;
    font-size: 1.2rem;
}

.card-image {
    max-width: 200px;
    min-width: 200px;
    margin-top: 1rem;
}

.card-distance {
    font-size: 0.8rem;
    width: 40%;
    position: absolute;
    right: 1rem;
    bottom: 5rem;
}

.card-button {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    padding: 0.4rem;
    background-color: #ffb429;
    border: 2px white solid;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: all 200ms ease-in-out;

    &:hover,
    &:active {
        color: #ffb429;
        background-color: white;
        border-color: #ffb429;
        box-shadow: 2px 2px 2px #ffd383;
    }
}

.no-result-link {
    padding-top: 4rem;
    text-decoration: none;
    color: #1f70f2;
    text-align: center;
}

.toilet {
    max-width: 95vw;
    padding: 0.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 40rem) {
        flex-direction: row;
    }
}

.toilet__image {
    max-height: 33vh;
    min-width: 100%;
    display: block;
    @media (min-width: 40rem) {
        max-height: 70vh;
    }
}

.toilet__specs {
    p {
        @media (min-width: 40rem) {
            padding-top: 0.2rem;
            font-size: 1.2rem;
        }
    }
}

.toilet__specs-title {
    text-align: center;
    @media (min-width: 40rem) {
        padding-top: 2rem;
        text-align: left;
    }
}

.info-link {
    text-decoration: none;
    color: #1f70f2;
    padding: 0.2rem;
    &:hover {
        border-bottom: 2px solid #1f70f2;
    }

    &:active {
        color: #1f70f2;
    }
}
