<% layout('layouts/boilerplate') %>
<h1 class="title">Toilets that can suit</h1>
<div class="container">
    <% if (toilets.length > 0) { %> <% for( let toilet of toilets) { %>
    <div class="card">
        <article class="card-content">
            <h3 class="card-title"><%= toilet.name%></h3>
            <img class="card-image" src="<%= toilet.image %> " alt="" />
            <p class="card-distance">
                Distance to waterpoint: <%= toilet.inletDistance %>
            </p>
            <a class="card-button" href="/show/<%=toilet.code%>">See Details</a>
        </article>
    </div>
    <% } %> <% } else { %>
    <div class="no-result">
        <a class="no-result-link" href="/"
            ><h1>Please click here to search again</h1></a
        >
    </div>
    <% } %>
</div>
